.side-bar {
  background-color: teal;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
  height: 100%;
}
.ant-menu-inline,
.ant-menu-inline-collapsed {
  height: 93%;
}
